<section id="about">
    <div class="section-content about-content">
        <div class="about-title">
            <img src="assets/images/about/title.gif" alt="Info">
        </div>
        <div class="about-text-container-outer">
            <div class="text-container about-text-container">
                <div class="text-container-inner about-text-container-inner">
                    <div id="aboutText" class="about-text">
                        <div class="about-gallery">
                            <div class="about-gallery-images"></div>
                            <div class="gallery-arrows" style="display:none;">
                                <div class="about-back gallery-arrow gallery-back"><img src="assets/images/ui/back arrow.png" alt="Last Image"></div>
                                <div class="about-next gallery-arrow gallery-next"><img src="assets/images/ui/next arrow.png" alt="Next Image"></div>
                            </div>
                        </div>
                        <span class="label"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>