<section id="carol">
    <div class="section-content carol-content">
        <div class="carol-title">
            <img src="assets/images/carol/title.gif" style="display:none;" alt="Carol">
        </div>
        <div class="carol-gallery-container grey-border grey-btn">
            <div id="carolHer" class="carol-subtitle"></div>
            <div class="carol-gallery grey-border-inner">
                <div class="carol-gallery-images"></div>
            </div>
        </div>
        <div class="gallery-arrows" style="display:none;">
            <div class="carol-back gallery-arrow gallery-back"><img src="assets/images/ui/back arrow.png" alt="Last Image"></div>
            <div class="carol-next gallery-arrow gallery-next"><img src="assets/images/ui/next arrow.png" alt="Next Image"></div>
        </div>


    </div>
</section>