<footer>
    <img src="assets/images/rating.png" alt="This film is not yet rated" class="rating">
    <div class="footer-btns">

        <a target="_blank" href="http://www.filmratings.com/" class="exit">Filmratings.com</a>
        <a target="_blank" href="http://www.mpaa.org/" class="exit">MPAA</a>
        <a target="_blank" href="https://disneytermsofuse.com/" class="exit">Terms of Use</a>
        <a target="_blank" href="https://privacy.thewaltdisneycompany.com/en/" class="exit">Privacy Policy</a>
        <a target="_blank" href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/" class="exit">Your
      California Privacy Rights</a>
        <a target="_blank" href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/" class="exit">Children's Online Privacy Policy</a>
        <a target="_blank" href="https://www.marvel.com/corporate/license_tou/" class="exit">License Agreement</a>
        <a target="_blank" href="http://preferences-mgr.truste.com/?pid=disney01&aid=marvel01&type=marvel" class="exit">Interest-Based
      Ads</a>
        <a target="_blank" href="https://www.marvel.com/corporate/insider_terms" class="exit">Marvel Insider Terms</a>
        <div class="copyright">© 2019 MARVEL</div>
    </div>
    <img src="assets/images/home/stan.gif" alt="Stan Lee" class="stan">
</footer>