<section id="fury">
    <div class="section-content fury-content">
        <div class="fury-pagers" style="display:none;">
            <img src="assets/images/fury/pagers.png" style="display:none;" alt="Get your pager!">
        </div>
        <div class="fury-img grey-border">
            <img src="assets/images/fury/char.jpg" alt="Sam Jackson is Nick Fury">
        </div>
        <div id="furyText" class="fury-text">
            <img src="assets/images/fury/captainmarvel_fury.gif" alt="nick fury gif">
            <img src="assets/images/fury/captainmarvel_fury.gif" alt="nick fury gif">
            <img src="assets/images/fury/captainmarvel_fury.gif" alt="nick fury gif">
            <div style="position: absolute; bottom:10px; margin-left:-50px; text-align: center">
                <p style=" font-size: 32px; padding-bottom:30px">Contract Address</p>
                <p style="  padding-bottom:80px">9r2Xhzz1KUJL2hWaeLeSNsjy7S7pLv18HFou3eaUpump</p>
                <p >2026 All rights reserved Not financial advice DYOR</p>
            </div>
        </div>

        <div class="fury-thumbs" style="display:none;"></div>
    </div>
</section>