<section id="guestbook" style="display:none;">
    <div class="section-content guestbook-content">
        <div class="guestbook-title" id="guestbookTitle">
            <img src="assets/images/guestbook/kree.gif" alt="Kree" class="guestbook-kree">
            <div class="label"></div>
            <img src="assets/images/guestbook/coulson.gif" alt="Agent Coulson" class="guestbook-coulson">
        </div>
        <div class="guestbook-text-container">
            <div class="guestbook-text-container-inner" id="guestbookMessages"></div>
        </div>
        <div class="grey-border grey-btn sign-in-btn" id="signInBtn"></div>
        <img src="assets/images/home/goldstar.gif" alt="star" class="guestbook-star">
    </div>
</section>