<section id="home">
    <div class="section-content home-content">
        <div class="home-head">
            <div class="soundIcon" style="display:none;"></div>
            <div class="bb-banner"><img src="assets/images/home/marvelCards.png"  alt="Blockbuster Video"></div>
             <div class="email"><img src="assets/images/home/email.gif" style="display:none;"  alt="E-mail"></div>
        </div>
        <nav class="char-nav grey-border">
            <div class="grey-border-inner">
                <img src="assets/images/home/header.png" alt="Characters Menu">

            </div>
        </nav>
        <div class="home-title grey-border">
            <div class="home-title-inner grey-border-inner">
                <img src="assets/images/home/tagline.png" alt="Higher. Further. Faster." class="titleImg">
                <img src="assets/images/home/logo.gif" alt="<%= title %>" class="titleImg">
                <img src="<%= date.img %>" alt="<%= date.label %>" class="dateImg"></div>
        </div>
        <div class="main-nav-row">
            <div class="nav-side-art"></div>
            <nav class="section-nav"></nav>
            <div class="nav-side-art"></div>
        </div>
        <a class="tickets-btn grey-border grey-btn font2" id="ticketsBtn">

			<div class="label"></div>

		</a>
        <a class="home-trailer-btn grey-border grey-btn" style="display:none;" id="homeTrailerBtn">
			<img src="assets/images/home/trailerIcon.gif" alt="film reel">
			<div class="label"></div>
		</a>

        <img src="assets/images/home/spaceship.gif" alt="spaceship" class="home-ship1">
        <img src="assets/images/home/spaceship2.gif" alt="second spaceship" class="home-ship2">
    </div>
    <div class="punch pos1">
        <div class="punch-art"><img src="assets/images/punch/target.png" style="display:none;" alt="Punching bag skrull game"></div>
    </div>
    <div id="social">
        <div class="social-bg"></div>
        <div class="social-modal">
            <div class="social-close"></div>
            <div id="socialMsg"></div>
            <div class="social-links"></div>
            <div id="agegate">
                <p>Enter your birthday to continue.</p>
                <select name="dobMonth" id="dobMonth">
					<option value="-1" disabled selected>Month</option>
					<option value="0">January</option>
					<option value="1">February</option>
					<option value="2">March</option>
					<option value="3">April</option>
					<option value="4">May</option>
					<option value="5">June</option>
					<option value="6">July</option>
					<option value="7">August</option>
					<option value="8">September</option>
					<option value="9">October</option>
					<option value="10">November</option>
					<option value="11">December</option>
				</select>
                <select name="dobDay" id="dobDay">
					<option value="-1" disabled selected>Day</option>
				</select>
                <select name="dobYear" id="dobYear">
					<option value="-1" disabled selected>Year</option>
				</select>
            </div>
        </div>
    </div>
</section>