<section id="multimedia" style="display:none;">
    <div class="section-content mm-content">
        <div class="mm-panels">
            <div class="mm-gallery grey-border">
                <div class="mm-gallery-content">
                    <div class="mm-gallery-inner grey-border-inner">
                    </div>
                    <div class="mm-arrows gallery-arrows">
                        <div class="mm-arrow mm-back"></div>
                        <div class="mm-arrow mm-next"></div>
                    </div>
                </div>
            </div>
            <div class="mm-video-player">
                <div class="mm-video-player-inner">
                    <div class="mm-controls">
                        <div class="mm-play-button"></div>
                        <div class="mm-stop-button"></div>
                        <div class="mm-progress-bar">
                            <div class="playhead"></div>
                        </div>
                        <div class="mm-next-last"></div>
                    </div>
                    <div class="mm-star-btn"></div>
                    <div class="mm-video"></div>
                    <div class="mm-video-title" id="mmVideoTitle"></div>
                    <div class="mm-time"><span id="curTime">00:00</span>/<span id="totalTime">00:00</span></div>
                    <div class="mm-enhance-btn"></div>
                </div>
            </div>
        </div>
        <img src="assets/images/multimedia/title.gif" alt="Multimedia" class="mm-title">
    </div>
</section>