<section id="skrull">
    <div class="section-content skrull-content">
        <div class="skrull-title grey-border grey-btn">
            <div id="skrullTitle" class="skrull-title-text"></div>
        </div>
        <div id="skrullDesc" class="skrull-text"></div>
        <div id="skrullCta" class="skrull-cta"></div>
        <div class="skrull-game">
            <div class="skrull-game-frame grey-border">
                <div class="skrull-game-inner grey-border-inner">
                    <div id="gameOver" class="game-over">
                        <div class="game-over-inner">
                            Game over!<br />
                            <span>Your final score is <span id="gameScore"></span>.</span>
                            <div id="playAgain" class="game-restart-btn grey-border grey-btn">PLAY AGAIN</div>
                        </div>
                    </div>
                    <div id="gameCorrect" class="game-response">
                        <div class="game-response-inner">
                            <p>Correct!</p>
                            <div class="game-next-btn grey-border grey-btn">CONTINUE</div>
                        </div>
                    </div>
                    <div id="gameWrong" class="game-response">
                        <div class="game-response-inner">
                            <p>Wrong!</p>
                            <div class="game-next-btn grey-border grey-btn">CONTINUE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>